/* Universal Style */
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    
}

/* Header */
header {
    display: flex;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    background-color: black;

}
.logo img {
    margin-left: 10px;
    margin-top: 10px;
    height: 50px;
}
header nav {
    margin-left: 730px;
}
nav span a {
    display: inline-block;
    margin-top: 12px;
    text-decoration: underline;
    color: seashell;
    padding: 10px;
}

/* Mission */
.mission {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    display: flex;
    margin-top: 70px;
    height: 700px;
    margin-left: 50px;
    margin-right: 50px;
}
.image-text {
    position: relative;
    justify-content: center;
    margin-top: 300px;
    background-color: black;
    width: 1200px;
}




  