/* Universal Style */
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    align-items: center;
    margin: auto;
    
    
}

/* Header */
header {
    display: flex;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    background-color: black;

}
.logo img {
    margin: 10px;
    height: 50px;
}
header nav {
    text-align: right;
    flex-grow: 1;
}
nav span a {
    display: inline-block;
    margin-top: 12px;
    text-decoration: underline;
    color: seashell;
    padding: 10px;
}

/* Mission */
.mission {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    height: 700px;
    margin-left: 50px;
    margin-right: 50px;
}
.image-text {
    justify-content: center;
    margin-top: 300px;
    background-color: black;
    width: 1200px;
    text-align: center;
    
}

/* Featured Tea */
.tea-headline {
    text-align: center;
    margin-top: 50px;
}
.prod-container {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product img {
    height: 200px;
    width: 300px;
    padding: 10px;
}
.product p {
    text-align: center;
}

/* Locations */
.loc-container {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
    margin-top: 70px;
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
}
.loc-containter,h2 {
    text-align: center;
}
.address {
    display: flex;
    flex-direction: inline;
    text-align: center;
}
.address-content {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: auto;
    width: 300px;
    opacity: 1;
}

/* Contact */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 200px;
}

/* Footer */
.copyright {
    text-align: left;
    margin-left: 20px;
}




  